# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
.wrangler
out
build

# Environment
.env
.env.local
.env.*.local
!.env.example

# Turborepo
.turbo

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Drizzle
drizzle/*.sql
drizzle/meta

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo
